.trackDiv {   
    display: grid; 
    grid-template-areas: 
    " number track  track img plus "
    "   .    artist album img plus ";
    grid-template-columns: 6% 39% 29% 13% 13%;    
    flex-wrap: wrap;   
    border: 2px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 70px;
    margin-bottom: 10px;
}

.trackDiv:hover .Symbol {
    visibility: visible;
}

.trackDiv:hover {
    border: 2px solid rgb(236, 4, 236);
}

.trackDiv h4 {
    grid-area: track;
    margin: 5px;
    font-size: 17px;
}

.trackDiv p {
    display: flex;
    align-items: end;
    grid-area: artist;
    font-size: 12px;    
    margin: 5px;
}

.imgAlbum {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.imgAlbum img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    
}

.imgAlbum .Symbol {
    visibility: hidden;
    position: absolute;
    padding: 9px; 

}


.imgAlbum .Symbol:hover {
    cursor: pointer;
}



.trackDiv h6 {
    grid-area: album;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 5px 8px 5px 5px;
    text-align: right; 
    color: rgb(152, 151, 151);
    font-size: 12px;   
}

.trackDiv .plus {
    grid-area: plus;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.plus .cross {             
    width: 27px;
    height: 27px;     
    padding: 4px;
    border-radius: 50%;     
    font-size: larger;    
}

.trackDiv .plus p:hover {
    background-color: rgba(236, 4, 236, 0.457);
    cursor: pointer;     
    
}

.trackDiv .add {
    position: absolute;
    margin-left: 44px;    
    visibility: hidden;
    z-index: 2;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.745);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
}

.plus:hover .add {
    visibility: visible;
}

.spanNumber {
    grid-area: number;
    font-size: 16px;
    color: grey;
    margin: 5px;
}