.trackDiv {   
    display: grid; 
    grid-template-areas: 
    " track img . plus "
    " artist img album plus";
    grid-template-columns: 40% 15% 30% 15%;    
    flex-wrap: wrap;   
    border: 2px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 70px;
    margin-bottom: 10px;

}

.trackDiv:hover {
    border: 2px solid rgb(236, 4, 236);
}

.trackDiv h4 {
    grid-area: track;
    margin: 5px;
    font-size: 17px;
}

.trackDiv p {
    grid-area: artist;
    font-size: 14px;    
    margin: 5px;
}

.imgAlbum {
    grid-area: img;
    display: flex;
    justify-content: right;
    align-items: center;    
}

.imgAlbum img {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.trackDiv h6 {
    grid-area: album;
    justify-self: left;    
    margin: 5px;
    text-align: right; 
    color: rgb(152, 151, 151);
    font-size: 12px;   
}

.trackDiv .plus {
    grid-area: plus;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.trackDiv .plus p {         
    width: 27px;
    height: 27px;     
    padding: 3px;
    border-radius: 50%;     
    font-size: larger;
    text-align: center;    
    
}

.trackDiv .plus p:hover {
    background-color: rgba(236, 4, 236, 0.457);
    cursor: pointer;     
    
}

.trackDiv .add {
    position: absolute;
    margin-left: 15px;    
    visibility: hidden;
    z-index: 2;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.745);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
}

.plus:hover .add {
    visibility: visible;
}

.spanNumber {
    font-size: 16px;
    color: grey;
}