.trackDiv {   
    display: grid; 
    grid-template-areas: 
    " number  track  img plus "
    "   .     artist img plus ";
    grid-template-columns: 6% 64% 15% 15%;    
    flex-wrap: wrap;   
    border: 2px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 70px;
    margin-bottom: 10px;
}

.trackDiv:hover .Symbol {
    visibility: visible;
}

.trackDiv:hover {
    border: 2px solid rgb(236, 4, 236);
}

.trackDiv h4 {
    grid-area: track;
    margin: 5px;
    font-size: 17px;
    caret-color: transparent;
}

.trackDiv .artist {
    display: flex;
    align-items: end;
    grid-area: artist;
    font-size: 12px;    
    margin: 5px;
    caret-color: transparent;
}

.imgAlbum {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.imgAlbum img {
    width: 55px;
    height: 55px;
    overflow: hidden;
    
}

.imgAlbum .Symbol {
    visibility: hidden;
    position: absolute;
    padding: 9px; 

}


.imgAlbum .Symbol:hover {
    cursor: pointer;
}



/* .trackDiv h6 {
    grid-area: album;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 5px 8px 5px 0px;
    text-align: right; 
    color: rgb(152, 151, 151);
    font-size: 12px;   
} */

.plus {
    grid-area: plus;    
    display: flex;
    justify-content: center;
    align-items: center;    
}


.plus .cross {            
    margin: 0;
    padding: 5px;
    caret-color: transparent;   
}

.plus .cross:hover {       
    cursor: pointer;     
    color: rgb(236, 4, 236);
}

.plus .cross:active {
    color: rgb(144, 0, 144);
}

.plus .add {
    position: absolute;
    margin-left: 44px;    
    visibility: hidden;
    z-index: 2;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.745);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
}

.cross:hover .add {
    visibility: visible;
}

.spanNumber {
    grid-area: number;
    font-size: 16px;
    color: grey;
    margin: 5px;
}