body {
  font-family: 'Lato', sans-serif;  
  margin: 0 auto;
  background-image: url("../src/images/background.jpg");
  background-size: cover;
}
.App {
  display: grid;
  grid-template-areas: 
  " header header "
  " search search "
  " main main" 
  " footer footer";  
}

.Authorize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Authorize button {
  margin-top: 100px;
}

#header {
  grid-area: header;
}

#header h2 { 
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
  
}
#searchbar {
  grid-area: search;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: space-around;  
}

